body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }
  img {
      max-width: 100%;
      display: block;
      display: flex;
      flex-direction: row;
  }
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    font-family:sans-serif;
    margin-right: 35%;
  }
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex;
  }
  nav {
    background-color: #000;
    padding: .5em;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:space-around;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    padding: 15px;
  }
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photos li{
    background-color: grey;
    width: 50%;
  }
  .photos li img{
     flex: 1;
  }
  .feature {
      width: 200px;
      float: left;
      margin-right: 25px;
  }
  article{
    flex:2;
  }
  aside{
    flex: 1;
  }